*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.text{
    width: 80%;
    margin: 50px auto;
    
}
.image{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    /* display: inline-block; */
    display: flex;
}
.image span{
    margin-right: 10px;
    /* display: inline-block; */
    width: 80%;  
}

