*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.text{
    width: 80%;
    margin: 50px auto;
    
}
.image{
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.image span {
    margin-right: 5px;
    margin-left: 5px;
    display: inline-block;
    width: 80%;
    text-align: center;  
}

